/* fonts */
@font-face {
  font-family: 'CastrolSansCon-Regular';
  src: url('../fonts/CastrolSansCon-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* colors */
.green {
  color: #01984e;
}
.green-bg {
  background: #01984e;
}
body {
  font-family: 'CastrolSansCon-Regular';
  font-size: 16px;
  color: #fff;
  background-color: #020305;
}
.main-btn {
  display: flex;
  align-items: center;
  height: 40px;
  min-width: 88px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  background: #fff;
  border-color: transparent;
  border-radius: 50px;
  text-transform: uppercase;
}
.main-btn:hover {
  color: #00B45C;
  background: #fff;
}
.main-btn:visited {
  color: #01984e;
  background-color: #fff;
}
.main-btn span {
  height: 16px;
  line-height: 20px;
}
.d-flex {
  display: flex;
}
.d-block {
  display: block;
}
.flex-direction-column {
  flex-direction: column;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-around {
  justify-content: space-around;
}
.justify-content-evently {
  justify-content: space-evenly;
}
.align-content-between {
  align-content: space-between;
}
.justify-content-end {
  justify-content: flex-end;
}
.align-items-center {
  align-items: center;
}
.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}
.margin-right-10 {
  margin-right: 10px;
}
.margin-left-10 {
  margin-left: 10px;
}
.margin-left-30 {
  margin-left: 30px;
}
.lh-18 {
  line-height: 18px !important;
}
.lh-16 {
  line-height: 16px;
}
.padding-left-0 {
  padding-left: 0;
}
.padding-0 {
  padding: 0;
}
.margin-0 {
  margin: 0;
}
.flex-wrap {
  flex-wrap: wrap;
}
.width-90 {
  width: 90%;
}
@media (min-width: 651px) and (max-width: 1200px) {
  .width-67 {
    width: 67%;
  }
}
button:focus {
  outline: none !important;
}
.list-wrapper {
  padding-left: 0;
  padding-right: 0;
}
.flex-wrap {
  flex-wrap: wrap;
}
.navigation {
  padding-top: 20px;
  padding-bottom: 20px;
}
.position-relative {
  position: relative;
}
.menu {
  /* popup menu for burger */
}
.menu .row {
  display: flex;
  align-items: center;
}
.menu__list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}
.menu-popup__list {
  text-align: center;
}
.menu .list__item {
  display: flex;
  flex-direction: row;
}
.menu-popup .list__item {
  padding-bottom: 20px;
}
.menu .link,
.menu-popup .link {
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
  text-transform: uppercase;
}
.menu .link {
  font-size: 14px;
}
.menu-popup .link {
  font-size: 24px;
}
.menu .link:hover,
.menu-popup .link:hover {
  color: #01984e;
  text-decoration: none;
}
.menu__burger {
  position: relative;
  display: block;
  float: right;
  width: 34px;
  height: 25px;
  background-color: inherit;
  z-index: 11;
}
.menu__burger span::before,
.menu__burger span::after,
.menu__burger span {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 4px;
  width: 34px;
  margin-left: -17px;
  background: #fff;
}
.menu__burger span::before {
  margin-top: -7px;
}
.menu__burger span::after {
  margin-top: 3px;
}
.menu__burger span {
  margin-top: -2px;
}
.menu .menu__burger span::before,
.menu .menu__burger span::after {
  content: '';
  display: block;
  transition: 0.4s;
}
.menu .menu__burger span::before {
  transform: translateY(-5px);
}
.menu .menu__burger span::after {
  transform: translateY(5px);
}
.menu .menu__burger--active span {
  height: 0;
}
.menu .menu__burger--active span:before {
  transform: rotate(45deg) translate(2px, 7px);
}
.menu .menu__burger--active span:after {
  transform: rotate(135deg) translateY(5px);
}
.menu-popup {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  right: 0%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 10;
  transition: 0.5s;
  transform: translateX(100%);
}
.menu-popup.active {
  transform: translateX(0%);
}
.menu-popup .link {
  color: #fff;
  opacity: 1;
}
.menu-popup .link:hover {
  color: #01984e;
  opacity: 1;
}
.menu-popup__list {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0;
  margin: 0;
  list-style: none;
  transform: translate(-50%, -50%);
}
.menu .menu--no-active {
  display: none;
}
@media (max-width: 991px) {
  .menu .row [class*='col-']:nth-child(1) {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 767px) {
  .menu {
    display: flex;
    justify-content: space-between;
  }
  .menu-popup .menu-popup__list {
    width: 100%;
  }
  .menu > .main-btn {
    margin-right: auto;
    height: 30px;
    font-size: 14px;
  }
  .menu .menu--no-active {
    display: flex;
  }
  .menu .menu--active {
    display: none;
  }
}
@media (max-width: 425px) {
  .menu > .main-btn {
    font-size: 12px;
    z-index: 2;
  }
}
.main-content .container {
  padding-top: 110px;
  padding-bottom: 170px;
  background-image: url('../img/burger@2x.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}
.main-content h1 {
  font-size: 58px;
  text-transform: uppercase;
}
.main-content h1 small {
  font-size: 30px;
  color: #fff;
}
.main-content p {
  font-size: 14px;
  opacity: 0.4;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  .main-content .container {
    background-position: center center;
  }
  .main-content h1,
  .main-content p {
    text-shadow: 0px 4px 5px black;
  }
  .main-content p {
    opacity: 0.9;
  }
}
@media (max-width: 767px) {
  .main-content h1 {
    font-size: 48px;
  }
  .main-content h1 small {
    font-size: 26px;
  }
}
@media (max-width: 550px) {
  .main-content .container {
    padding-top: 0;
    padding-bottom: 0;
    background-image: none;
  }
  .main-content .main-bg {
    width: auto;
    height: 550px;
    background-image: url('../img/burger@2x.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
  }
  .main-content h1 {
    margin-top: -59px;
  }
  .main-content p {
    opacity: 0.3;
  }
}
@media (max-width: 425px) {
  .main-content {
    margin-top: -25px;
  }
  .main-content .main-bg {
    height: 425px;
  }
  .main-content h1 {
    font-size: 30px;
  }
  .main-content h1 small {
    font-size: 22px;
  }
}
@media (max-width: 320px) {
  .main-content .main-bg {
    height: 320px;
  }
}
.main-info {
  width: 100%;
  padding-top: 45px;
  padding-bottom: 50px;
  background: #131313;
}
.main-info .container > .row {
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.main-info .row {
  margin-left: 0;
  margin-right: 0;
}
.main-info .main-wrapper .row:nth-child(2) {
  margin-top: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.main-info [class*='col-'] {
  padding-left: 0;
  padding-right: 0;
}
.main-info h1 {
  font-size: 30px;
  text-transform: uppercase;
}
.main-info .container > .row > [class^="col-"]:nth-child(1) p {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.3);
}
.main-info p.value {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  opacity: 0.8;
}
.main-info p.tiny {
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.3);
  font-size: 12px;
  text-transform: uppercase;
}
.main-info p.value a {
  color: #fff;
  text-decoration: underline;
}
.main-info p.value a:hover {
  color: #01984e;
}
.main-info ion-icon {
  margin-right: 5px;
}
.main-info .adopted {
  color: #01984e;
}
.main-info .on-processing {
  opacity: 0.5;
}
.main-info .not-accepted {
  color: #de3724;
}
.main-info .main-wrapper .row {
  display: flex;
  flex-direction: row;
}
.main-info .data-wrapper {
  padding-right: 30px;
}
.main-info .footer-wrapper h2 {
  padding-top: 20px;
  font-size: 30px;
  text-transform: uppercase;
}
.main-info .footer-wrapper .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 0;
  margin-right: 0;
  padding-top: 25px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.main-info .footer-wrapper .row:nth-of-type(1) {
  margin-top: 0;
  padding-top: 5px;
}
.main-info .footer-wrapper ion-icon {
  height: 20px;
  width: 20px;
  margin-top: -4px;
}
@media (min-width: 1200px) {
  .main-info .w-100 {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .main-info {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .main-info .container > .row {
    position: relative;
  }
  .main-info .container > .row > [class^="col-"]:last-of-type {
    position: absolute;
    right: 0;
    bottom: 7px;
    font-size: 14px;
  }
  .main-info .container > .row > [class^="col-"]:last-of-type button {
    padding-top: 4px;
    padding-bottom: 2px;
  }
  .main-info h1,
  .main-info .footer-wrapper h2 {
    font-size: 26px;
  }
  .main-info .container > .row > [class^="col-"]:nth-child(1) p {
    padding-top: 20px;
  }
  .main-info .footer-wrapper .row [class^="col-"]:nth-child(1) {
    display: none;
  }
  .main-info .footer-wrapper .row {
    display: flex;
    flex-direction: row-reverse;
  }
  .main-info .footer-wrapper .row [class^="col-"]:nth-child(3) {
    text-align: left;
  }
}
@media (max-width: 425px) {
  .main-info h1,
  .main-info .footer-wrapper h2 {
    font-size: 24px;
  }
  .main-info .container > .row > [class^="col-"]:last-of-type {
    font-size: 12px;
  }
  .main-info .container > .row > [class^="col-"]:last-of-type button {
    height: 30px;
  }
}
.actions {
  margin-top: 60px;
  margin-bottom: 60px;
}
.actions .actions__item {
  width: 100%;
  margin-bottom: 10px;
  height: min-content;
  background: #202020;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background: linear-gradient(-70deg, transparent 45px, #202020 0) right, linear-gradient(45deg, transparent 15px, #020305 0) left;
}
.actions .navbar-form {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.actions p {
  position: relative;
  margin-bottom: 0;
  padding-left: 110px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 100%;
}
.actions p small {
  font-size: 18px;
  text-transform: none;
  opacity: 0.4;
  line-height: 100%;
}
.actions .row .col-lg-10:nth-child(1) p::before {
  content: '1';
}
.actions .row .col-lg-10:nth-child(2) p::before {
  content: '2';
}
.actions .row .col-lg-10:nth-child(3) p::before {
  content: '3';
}
.actions .row .col-lg-10:nth-child(4) p::before {
  content: '4';
}
.actions .row .col-lg-10:nth-child(5) p::before {
  content: '5';
}
.actions .row .col-lg-10:nth-child(6) p::before {
  content: '6';
}
.actions p::before {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  padding-top: 3px;
  font-size: 30px;
  line-height: 35px;
  background: #01984e;
  border-radius: 50%;
}
.actions__item .row {
  display: flex;
  align-items: center;
}
.actions form.navbar-form {
  padding: 0;
}
.actions form.navbar-form a {
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 12px;
  text-transform: uppercase;
}
.actions form.navbar-form a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
.actions form.navbar-form button ion-icon {
  width: 22.5px;
  height: 28.5px;
}
.actions form.navbar-form a ion-icon {
  width: 18.5px;
  height: 18.5px;
}
.actions form.navbar-form a span {
  line-height: 21px;
}
.actions #qr-code {
  width: 88px;
  height: 88px;
}
.actions #qr-code canvas {
  border: 4px solid #fff;
}
@media (max-width: 1200px) {
  .actions [class^="col-"] {
    float: none;
  }
}
@media (max-width: 991px) {
  .actions #qr-code {
    display: none;
  }
  .actions .actions__item {
    background: #202020;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  .actions .container > .row [class^="col-"]:nth-child(1) .row [class^="col-"]:nth-child(2),
  .actions .container > .row [class^="col-"]:nth-child(3) .row [class^="col-"]:nth-child(2),
  .actions .container > .row [class^="col-"]:nth-child(4) .row [class^="col-"]:nth-child(2),
  .actions .container > .row [class^="col-"]:nth-child(6) .row [class^="col-"]:nth-child(2) {
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .actions {
    margin-bottom: 30px;
  }
  .actions .container,
  .actions .container > .row > [class^="col-"] {
    padding-left: 0;
    padding-right: 0;
  }
  .actions .row {
    margin-right: 0;
    margin-left: 0;
  }
  .actions .container > .row [class^="col-"]:nth-child(1) .row [class^="col-"]:nth-child(1),
  .actions .container > .row [class^="col-"]:nth-child(3) .row [class^="col-"]:nth-child(1),
  .actions .container > .row [class^="col-"]:nth-child(4) .row [class^="col-"]:nth-child(1),
  .actions .container > .row [class^="col-"]:nth-child(6) .row [class^="col-"]:nth-child(1) {
    padding-left: 0;
  }
  .actions p {
    font-size: 26px;
  }
  .actions p small {
    font-size: 15px;
  }
  .actions p:before {
    height: 68px;
    width: 68px;
  }
}
@media (max-width: 650px) {
  .actions p {
    padding-left: 90px;
  }
  .actions__item .row {
    display: flex;
    flex-direction: column;
  }
  .actions .container > .row [class^="col-"]:nth-child(1) .row [class^="col-"]:nth-child(2),
  .actions .container > .row [class^="col-"]:nth-child(4) .row [class^="col-"]:nth-child(2) {
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .actions .container > .row [class^="col-"]:nth-child(1) .row [class^="col-"]:nth-child(1),
  .actions .container > .row [class^="col-"]:nth-child(3) .row [class^="col-"]:nth-child(1),
  .actions .container > .row [class^="col-"]:nth-child(4) .row [class^="col-"]:nth-child(1),
  .actions .container > .row [class^="col-"]:nth-child(6) .row [class^="col-"]:nth-child(1) {
    width: 100%;
  }
  .actions .container > .row [class^="col-"]:nth-child(1) .row [class^="col-"]:nth-child(2),
  .actions .container > .row [class^="col-"]:nth-child(3) .row [class^="col-"]:nth-child(2),
  .actions .container > .row [class^="col-"]:nth-child(6) .row [class^="col-"]:nth-child(2) {
    min-width: 184px;
  }
  .actions .container > .row [class^="col-"]:nth-child(4) .row [class^="col-"]:nth-child(2) {
    padding: 0;
    min-width: 194px;
  }
}
@media (max-width: 425px) {
  .actions .actions__item {
    border-radius: 0;
  }
  .actions p {
    padding-right: 15px;
    padding-left: 80px;
    font-size: 24px;
  }
  .actions p:before {
    top: 15px;
    left: 15px;
    height: 56px;
    width: 56px;
    font-size: 28px;
    line-height: 34px;
  }
}
@media (max-width: 375px) {
  .actions .container > .row [class^="col-"]:nth-child(1) .row [class^="col-"]:nth-child(2) {
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 20px;
  }
}
.conditions {
  margin-top: 80px;
}
.conditions h2 {
  margin-bottom: 35px;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}
.conditions button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 24px;
  text-transform: uppercase;
  border-radius: 50px;
}
.conditions button:hover {
  color: #00B45C;
  background: #fff;
}
.conditions button ion-icon {
  width: 32px;
  height: 32px;
  margin-right: 20px;
}
.conditions button span {
  height: 26px;
  line-height: 30px;
}
@media (max-width: 1200px) {
  .conditions button ion-icon {
    margin-right: 10px;
  }
}
@media (max-width: 991px) {
  .conditions .container > .row [class^="col-"] {
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .conditions h2 {
    font-size: 26px;
  }
  .conditions button span {
    height: 20px;
    line-height: 24px;
  }
  .conditions button ion-icon {
    width: 28px;
    height: 28px;
  }
  .conditions button {
    font-size: 20px;
  }
}
@media (max-width: 550px) {
  .conditions {
    margin-top: 40px;
  }
}
@media (max-width: 425px) {
  .conditions h2 {
    font-size: 24px;
  }
  .conditions button {
    padding-top: 17.5px;
    padding-bottom: 17.5px;
    font-size: 16px;
  }
  .conditions button span {
    height: 16px;
    line-height: 19px;
  }
  .conditions button ion-icon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
  }
}
@media (max-width: 330px) {
  .conditions button {
    font-size: 15px;
  }
  .conditions button ion-icon {
    margin-right: 1px;
  }
}
.partnership {
  margin-top: 95px;
}
.partnership h2 {
  margin-bottom: 35px;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 767px) {
  .partnership {
    margin-top: 45px;
  }
  .partnership h2 {
    font-size: 26px;
  }
  .partnership .container {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.ymaps-2-1-74-islets_map-lang-ru {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.map-wrapper {
  display: flex;
  width: 100%;
  height: 640px;
}
.map-wrapper .control-panel {
  position: relative;
  width: 276px;
  height: 100%;
  background: #202020;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  overflow: hidden;
}
.map-wrapper .list-of-cities {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -17px;
  display: flex;
  padding-top: 20px;
  padding-left: 0;
  flex-direction: column;
  list-style-type: none;
  overflow-y: scroll;
}
.map-wrapper .list-of-cities li {
  width: 100%;
  height: 60px;
  padding-left: 30px;
  line-height: 60px;
  cursor: pointer;
}
.map-wrapper .list-of-cities li a {
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
}
.map-wrapper .list-of-cities li a:hover,
.map-wrapper .list-of-cities li a:active,
.map-wrapper .list-of-cities li a:focus {
  text-decoration: none;
}
.map-wrapper .list-of-cities li:hover:not(.city-active) a {
  color: #00B45C;
}
.map-wrapper .city-active {
  position: relative;
  background: #01984e;
}
.map-wrapper .ymaps-2-1-74-controls__toolbar {
  display: none;
}
.map-wrapper #map {
  width: 75%;
  height: 100%;
}
@media (max-width: 991px) {
  .map-wrapper .control-panel {
    width: 300px;
  }
}
@media (max-width: 767px) {
  .map-wrapper {
    height: 425px;
  }
  .map-wrapper .control-panel {
    display: none;
  }
  .map-wrapper #map {
    width: 90%;
    height: 425px;
    margin: 0 auto;
  }
  .map-wrapper .ymaps-2-1-74-map {
    width: 90%;
    height: 425px !important;
  }
  .map-wrapper .ymaps-2-1-74-islets_map-lang-ru {
    width: 90%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
@media (max-width: 425px) {
  .map-wrapper {
    height: 300px;
  }
  .map-wrapper #map {
    width: 100%;
    height: 300px;
  }
  .map-wrapper .ymaps-2-1-74-map {
    width: 100%;
  }
  .map-wrapper .ymaps-2-1-74-map {
    width: 100%;
    height: 300px !important;
  }
}
.panel {
  border: 0;
}
.faq {
  margin-top: 80px;
}
.faq h2 {
  margin-bottom: 35px;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}
.faq #accordion .panel:nth-child(1) {
  padding-top: 25px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.faq .panel {
  padding-top: 25px;
  padding-bottom: 25px;
  background: #020305;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.faq .panel-group .panel {
  border-radius: 0px;
}
.faq .panel[aria-expanded="true"] h3 {
  color: #01984e;
}
.faq .panel[aria-expanded="true"] ion-icon {
  color: #01984e;
  transform: rotate(180deg);
}
.faq .panel-heading {
  display: flex;
  justify-content: space-between;
}
.faq .panel-heading:hover {
  color: #01984e;
}
.faq .panel-heading ion-icon {
  width: 30px;
  height: 30px;
}
.faq h3 a {
  font-size: 24px;
  text-decoration: none;
}
.faq h3 a:hover,
.faq h3 a:focus {
  text-decoration: none;
}
.faq .panel-body {
  width: 94%;
  border-top: none !important;
  opacity: 0.7;
}
@media (max-width: 767px) {
  .faq {
    margin-top: 40px;
  }
  .faq h2 {
    font-size: 26px;
  }
  .faq h3 a {
    font-size: 20px;
  }
}
@media (max-width: 425px) {
  .faq h2 {
    font-size: 24px;
  }
  .faq h3 a {
    font-size: 18px;
  }
  .faq #accordion .panel:nth-child(1) {
    padding-top: 15px;
  }
  .faq .panel {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .faq .panel-group .panel + .panel {
    margin-top: 0;
  }
  .faq .panel-heading ion-icon {
    margin-top: -7px;
  }
}
.feedback {
  margin-top: 80px;
}
.feedback form {
  position: relative;
}
.feedback .checkbox {
  position: relative;
}
.feedback span.error {
  position: absolute;
  bottom: -20px;
  font-size: 12px;
  left: 0;
  color: #a20000;
}
.feedback form,
.feedback .success {
  max-width: 945px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 30px;
  background: #131313;
  border-radius: 12px;
}
.feedback .success {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.feedback h2 {
  padding-bottom: 19px;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}
.feedback form > .row [class^="col-"]:first-child {
  padding-right: 10px;
}
.feedback form > .row [class^="col-"]:last-child {
  padding-left: 10px;
}
.feedback .form-group * {
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
}
.feedback .form-group {
  margin-bottom: 20px;
}
.feedback .form-control:hover {
  border-color: #4b4b4b;
}
.feedback .form-control + label {
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 19px;
  transition: 0.2s ease all;
  color: rgba(255, 255, 255, 0.3);
}
.feedback .form-control:hover + label,
.feedback .form-control:focus + label {
  color: rgba(255, 255, 255, 0.5);
}
.feedback .form-control:focus + label,
.feedback .form-control:not(:focus):valid ~ .floating-label {
  left: 15px;
  top: 12px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
  transition: 0.2s ease all;
}
.feedback .form-control:not(:focus):valid ~ .floating-label {
  color: rgba(255, 255, 255, 0.3);
}
.feedback .form-control:focus {
  outline: none;
  border-color: inherit;
  box-shadow: none;
  border-color: #4b4b4b;
}
.feedback form input {
  height: 57px;
  padding: 32px 15px 8px;
  color: #000000;
  opacity: 0.8;
  background: #1b1b1b;
  border: 1px solid #2f2f2f;
  border-radius: 6px;
}
.feedback form select {
  height: 57px;
  padding: 12px 12px 8px;
  color: rgba(255, 255, 255, 0.8);
  background: #1b1b1b;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  background-image: url('http://www.free-icons-download.net/images/small-down-arrow-icon-15593.png');
  background-repeat: no-repeat;
  background-size: 24px 22px;
  background-position: 98% center;
  border: 1px solid #2f2f2f;
  border-radius: 6px;
}
.feedback .error {
  border-color: #a20000;
}
.feedback .error + label {
  color: #a20000;
  opacity: 0.5;
}
.feedback select.error {
  color: rgba(162, 0, 0, 0.5);
}
.feedback form textarea {
  height: 121px;
  padding: 32px 15px 8px;
  color: rgba(255, 255, 255, 0.8);
  background: #1b1b1b;
  border: 1px solid #2f2f2f;
  border-radius: 6px;
  resize: none;
}
.feedback .form-group .btn-primary {
  width: 100%;
  height: 57px;
  background: #01984e;
  border-color: #01984e;
}
.feedback .btn-primary:hover {
  background: #00B45C;
}
.feedback .btn-primary:disabled {
  opacity: 0.5;
}
.feedback .btn-primary:hover:disabled {
  background: #01984e;
  border-color: #01984e;
  opacity: 0.5;
}
.feedback .form-group .btn-primary:active {
  background: #01753c;
  border-color: #016534;
}
.feedback .form-group .checkbox label {
  display: flex;
  align-items: center;
  padding: 0;
  color: rgba(255, 255, 255, 0.3);
  text-transform: none;
}
.feedback .form-group:last-child .row {
  display: flex;
  align-items: center;
}
.feedback .form-group .checkbox input[type="checkbox"] {
  display: none;
}
.feedback .form-group .checkbox label:before {
  content: " ";
  width: 20px;
  height: 20px;
  margin-right: 15px;
  margin-top: -3px;
  color: #fff;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
.feedback .form-group .checkbox input:hover + label:before {
  background-image: linear-gradient(rgba(29, 29, 29, 0.6), rgba(29, 29, 29, 0.6)), url('../img/checkmark.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.feedback .form-group .checkbox input:checked + label:before {
  background-image: url('../img/checkmark.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #01984e;
  border-color: #01984e;
}
@media (max-width: 991px) {
  .feedback #emailInputErr-1 {
    position: unset;
    display: block;
  }
}
@media (max-width: 767px) {
  .feedback {
    margin-top: 40px;
  }
  .feedback h2 {
    margin-top: 10px;
    padding-bottom: 10px;
    font-size: 26px;
  }
  .feedback form > .form-group:nth-of-type(1) .row [class^="col-"]:nth-child(1) {
    margin-bottom: 20px;
  }
  .feedback form > .form-group:last-of-type .row {
    display: flex;
    flex-direction: column;
  }
  .feedback form > .form-group:last-of-type .row [class^="col-"]:nth-child(1) {
    margin-bottom: 20px;
  }
  .feedback form > .row [class^="col-"]:first-child {
    padding-right: 15px;
  }
  .feedback form > .row [class^="col-"]:last-child {
    padding-left: 15px;
  }
  .feedback span.error {
    position: unset;
    display: block;
    margin-top: 4px;
  }
  .feedback .form-group .checkbox input:hover + label:before {
    background-image: none;
  }
  .feedback .form-group .checkbox input:checked + label:before {
    background-image: url('../img/checkmark.svg');
  }
}
@media (max-width: 425px) {
  .feedback .container {
    padding-left: 0;
    padding-right: 0;
  }
  .feedback form {
    padding: 26px 15px 15px;
    border-radius: 0;
  }
  .feedback .success h2 {
    padding-top: 20px;
  }
}
.footer {
  margin-top: 100px;
}
.footer .row {
  display: flex;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  padding-top: 14px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
.footer .row .col-lg-6 {
  padding: 0;
}
.footer .navbar-nav li a {
  padding: 10px 20px 10px 0;
}
.footer .navbar-nav li a {
  color: #fff;
  background: inherit;
  font-size: 14px;
  text-transform: uppercase;
}
.footer .navbar-nav li a:hover {
  color: #01984e;
  background: #020305;
}
.footer .copyright {
  margin-top: 50px;
  color: rgba(255, 255, 255, 0.3);
  font-size: 14px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .footer {
    margin-top: 50px;
  }
  .footer .container .row {
    display: flex;
    flex-direction: column;
  }
  .footer .nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer .container .row [class^="col-"]:nth-last-child(1) {
    justify-content: center;
  }
  .footer .container .row [class^="col-"]:nth-last-child(1) button,
  .footer .container .row [class^="col-"]:nth-last-child(1) a {
    margin-bottom: 10px;
  }
  .footer .container .row [class^="col-"]:nth-last-child(1) {
    flex-wrap: wrap;
  }
  .footer .navbar-nav li a {
    padding: 10px;
  }
}
@media (max-width: 556px) {
  .footer .nav {
    justify-content: flex-start;
  }
  .footer .nav a {
    margin-left: 7px;
  }
  .footer .container .row [class^="col-"]:last-child {
    justify-content: flex-start;
  }
}
@media (max-width: 375px) {
  .footer button {
    margin-right: 35px;
  }
  .footer .container .row [class^="col-"]:last-child a:nth-child(2) {
    margin-left: 0;
  }
}
.text-transform-initial {
  text-transform: initial !important;
}
.modal span.warning {
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -171px;
  color: #a20000;
}
.modal .form-control.warning,
.modal .form-control:focus + label.warning,
.modal .form-control:not(:focus):valid ~ .floating-label.warning {
  color: #a20000;
}
.modal .form-control.warning {
  border-color: #a20000;
}
.modal .warning-bottom {
  position: absolute;
  bottom: -2px;
  color: #a20000;
  font-size: 12px;
  text-transform: uppercase;
}
.modal-dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 888px !important;
  width: 100% !important;
  height: min-content;
  transform: translate(-50%, -50%) !important;
}
.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 457px;
  background: #131313;
}
.modal .confirmation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 457px;
  background: #131313;
  border-radius: 6px;
}
.modal .confirmation p {
  opacity: 0.5;
}
.modal .no-active {
  display: none;
}
.modal .row {
  margin-right: 0;
  margin-left: 0;
}
.modal-header,
.modal-wrapper,
.modal-body,
.modal-footer {
  padding: 20px 20px 30px;
}
.modal-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.modal-header,
.modal-wrapper {
  border-bottom: none;
}
.modal-footer {
  border-top: none;
}
.modal-header h4 a {
  padding: 20px 0 0;
  color: rgba(255, 255, 255, 0.3);
  font-size: 30px;
  border: 0;
  text-transform: uppercase;
  text-decoration: none;
}
.modal-header h4 a:hover {
  color: #fff;
  text-decoration: none;
  background: none;
  border-bottom: 4px solid #fff;
}
.modal .isActive {
  color: #fff;
  background: none;
  border: 0;
  border-bottom: 4px solid #fff !important;
}
.modal .form-control {
  height: 57px;
  margin-bottom: 20px;
  color: #fff;
  background: #1b1b1b;
  border: 1px solid #2f2f2f;
  border-radius: 6px;
}
.modal .form-group * {
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
}
.modal .btn-primary {
  width: 100%;
  height: 57px;
  font-size: 16px;
  background: #01984e;
  border-color: #01984e;
  text-transform: uppercase;
}
.modal .btn-primary:hover {
  background: #00B45C;
}
.modal .btn-primary:disabled {
  opacity: 0.5;
}
.modal .btn-primary:hover:disabled {
  background: #01984e;
  border-color: #01984e;
  opacity: 0.5;
}
.modal .btn-primary:active {
  background: #01753c;
  border-color: #016534;
}
.modal .form-control:hover {
  border-color: #4b4b4b;
}
.modal .form-control + label {
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 19px;
  transition: 0.2s ease all;
  color: rgba(255, 255, 255, 0.3);
}
.modal .form-control:hover + label,
.modal .form-control:focus + label {
  color: rgba(255, 255, 255, 0.5);
}
.modal .form-control:focus + label,
.modal .form-control:not(:focus):valid ~ .floating-label {
  left: 15px;
  top: 12px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
  transition: 0.2s ease all;
}
.modal .form-control:not(:focus):valid ~ .floating-label {
  color: rgba(255, 255, 255, 0.3);
}
.modal .form-control:focus {
  outline: none;
  border-color: inherit;
  box-shadow: none;
  border-color: #4b4b4b;
}
.modal form input {
  height: 57px;
  padding: 32px 15px 8px;
  color: rgba(255, 255, 255, 0.8);
  background: #1b1b1b;
  border: 1px solid #2f2f2f;
  border-radius: 6px;
}
.modal .error {
  border-color: #a20000;
}
.modal .error + label {
  color: #a20000;
  opacity: 0.5;
}
.modal .form-group .checkbox label {
  display: flex;
  align-items: center;
  padding: 0;
  color: rgba(255, 255, 255, 0.3);
  text-transform: none;
}
.modal .form-group:last-child .row {
  display: flex;
  align-items: center;
}
.modal .form-group .checkbox input[type="checkbox"] {
  display: none;
}
.modal .form-group .checkbox label:before {
  content: " ";
  width: 20px;
  height: 20px;
  margin-right: 15px;
  margin-top: -3px;
  color: #fff;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
.modal .form-group .checkbox input:hover + label:before {
  background-image: linear-gradient(rgba(29, 29, 29, 0.6), rgba(29, 29, 29, 0.6)), url('../img/checkmark.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.modal .form-group .checkbox input:checked + label:before {
  background-image: url('../img/checkmark.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #01984e;
  border-color: #01984e;
}
.modal .form-group .checkbox input:disabled + label:before {
  background: #01984e;
  color: #fff;
}
.modal .modal-header-wrapper {
  display: flex;
  justify-content: center;
}
.modal .modal-header-wrapper h4 {
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 30px;
  text-transform: uppercase;
}
.modal a.text-transform-initial {
  color: #fff;
  opacity: 0.3;
}
.modal a.text-transform-initial:hover {
  color: #fff;
  opacity: 0.6;
  text-decoration: none;
}
.modal a.text-transform-initial:focus {
  text-decoration: none;
}
@media (max-width: 991px) {
  .modal-dialog {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 767px) {
  .modal-header h4 a,
  .modal .restore-pswd h4,
  .modal .edit-profile h4 {
    font-size: 26px;
  }
  .modal .forgot-pswd .modal-header-wrapper h4 {
    font-size: 24px;
  }
  .modal-dialog {
    height: 100vh;
    margin-left: 0;
  }
  .modal .modal-content {
    min-height: 247px !important;
    height: min-content;
  }
  .modal .form-control {
    margin-bottom: 10px;
  }
  .modal .registration .modal-body {
    padding-bottom: 0;
  }
  .modal .registration .modal-footer {
    padding-top: 0;
  }
  .modal .checkbox {
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .modal .upload .main-btn {
    display: flex;
    justify-content: center;
    padding-top: 5px !important;
    padding-bottom: 2px;
    font-size: 14px;
  }
  .modal .confirmation {
    height: 300px;
  }
}
@media (max-width: 425px) {
  .modal span.warning {
    margin-left: -100px;
    width: 200px;
    text-align: center;
  }
  .modal-dialog {
    left: 0;
    top: 0;
    transform: translate(0, 0) !important;
  }
  .modal-header {
    padding: 20px 10px 28px;
  }
  .modal-body,
  .modal-footer {
    padding: 20px 10px 10px;
  }
  .modal .modal-header-wrapper {
    justify-content: flex-start;
  }
  .modal .modal-header-wrapper h4 {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 10px;
    padding-left: 0;
    margin-top: 0;
  }
  .modal .restore-pswd .modal-header-wrapper h4,
  .modal .edit-profile .modal-header-wrapper h4 {
    margin-top: 7px;
  }
  .modal .edit-profile .modal-header-wrapper h4 {
    padding-right: 30px;
  }
  .modal-header h4 a {
    padding: 0;
    font-size: 24px;
  }
  .modal .restore-pswd h4,
  .modal .edit-profile h4 {
    font-size: 24px;
  }
  .modal .forgot-pswd .modal-header-wrapper h4 {
    font-size: 20px;
  }
  .modal .forgot-pswd h4 {
    margin: 8px auto;
  }
  .modal .back {
    top: 22px;
    left: 10px;
  }
  .modal-header .close {
    right: 10px;
    margin-top: 2px;
  }
  .modal-body .row [class^="col-"],
  .modal-footer .row [class^="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .modal .checkbox {
    padding-left: 0px;
    padding-right: 0px;
  }
  .modal .checkbox label {
    align-items: flex-start;
    text-align: left;
  }
  .modal .checkbox label::before {
    margin-top: 0;
  }
  .modal .upload .main-btn {
    display: flex;
    justify-content: center;
    height: 30px;
    font-size: 14px;
  }
}
.close {
  position: absolute;
  right: 20px;
  font-weight: normal;
  font-size: 54px;
  line-height: 0.5;
  color: white;
  opacity: 0.5;
}
.close:focus {
  color: white;
  opacity: 0.5;
}
.close:hover {
  color: white;
  opacity: 0.8;
}
.no-active {
  display: none;
}
.back {
  content: '';
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
  width: 20px;
  height: 30px;
  background-image: url(../img/arrow-left.png);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.3;
}
.back:focus {
  text-decoration: none;
  opacity: 0.3;
}
.back:hover {
  text-decoration: none;
  opacity: 0.6;
}
.edit-profile {
  height: min-content;
}
.edit-profile .modal-body label {
  position: absolute;
  padding-left: 12px;
  padding-top: 13px;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
}
.edit-profile .modal-body input {
  padding-top: 27px;
}
.edit-profile .modal-body input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.upload input[type="file"] {
  display: input-block;
  width: 100%;
  height: 30px;
  opacity: 0;
  cursor: pointer;
  position: absolute;
  left: 0;
}
.upload #fileUpload {
  height: 45px;
  padding-top: 0;
}
.upload .fileName {
  height: 20px;
  margin-top: auto;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.upload label {
  margin-top: -9px;
  padding-top: 6px !important;
  padding-left: 0px !important;
}
.upload .main-btn {
  padding-top: 7px !important;
}
.cluster-icon {
  display: block;
  background-color: #000;
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 43px;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
}
.map-marker {
  height: 35px;
  width: 35px;
  margin-left: -17px;
  margin-top: -17px;
  border-radius: 50%;
  background-color: #000;
  background-image: url('/img/burger@2x.png');
  background-size: 21px 21px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.popover {
  display: block;
  padding: 15px;
  font-family: 'CastrolSansCon-Regular';
  border: none;
  box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.75) !important;
  border-radius: 11px;
}
.popover-contentz {
  color: #888;
  text-transform: uppercase;
}
body [class*="ymaps-2"][class*="-map"] .popover {
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.05) !important;
}
.popover.top > .arrow {
  border-top-color: #fff;
}
.popover .close {
  position: absolute;
  right: 5px;
  top: 1px;
}
#dropdown {
  display: none;
  width: 90%;
  height: 60px;
  padding-left: 30px;
  padding-right: 15px;
  margin: 0 auto 30px;
  color: #fff;
  font-size: 16px;
  background: #202020;
  border-color: transparent;
  border-radius: 50px;
  text-transform: uppercase;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  background-image: url('http://www.free-icons-download.net/images/small-down-arrow-icon-15593.png');
  background-repeat: no-repeat;
  background-size: 24px 22px;
  background-position: 97% center;
}
@media (max-width: 767px) {
  #dropdown {
    display: flex;
  }
}
