/* fonts */
@font-face {
  font-family: 'CastrolSansCon-Regular';
  src: url('../fonts/CastrolSansCon-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@castrol: 'CastrolSansCon-Regular';

/* colors */
@black: #020305;
@black-light: #131313;
@dark-grey: #202020;
@white : #fff;
@green : #01984e;

.green {
  color: @green;
}

.green-bg {
  background: @green;
}

body {
  font-family: @castrol;
  font-size: 16px;
  color: @white;
  background-color: @black;
}

.main-btn {
  display: flex;
  align-items: center;
  height: 40px;
  min-width: 88px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  background: @white;
  border-color: transparent;
  border-radius: 50px;
  text-transform: uppercase;
}

.main-btn:hover {
  color: #00B45C;
  background: @white;
}

.main-btn:visited {
  color: @green;
  background-color: @white;
}

.main-btn span {
  height: 16px;
  line-height: 20px;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.flex-direction-column {
  flex-direction: column;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-evently {
  justify-content: space-evenly;
}

.align-content-between {
  align-content: space-between;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-left-30 {
  margin-left: 30px;
}

.lh-18 {
  line-height: 18px !important;
}

.lh-16 {
  line-height: 16px;
}

.padding-left-0 {
  padding-left: 0;
}

.padding-0 {
  padding: 0;
}

.margin-0 {
  margin: 0;
}

.flex-wrap {
  flex-wrap: wrap;
}

.width-90 {
  width: 90%;
}

@media (min-width: 651px) and (max-width: 1200px) {
  .width-67 {
    width: 67%;
  }
}

button:focus {
  outline: none !important;
}

.list-wrapper {
  padding-left: 0;
  padding-right: 0;
}

.flex-wrap {
  flex-wrap: wrap;
}

.navigation {
  padding-top: 20px;
  padding-bottom: 20px;
}

.position-relative {
  position: relative;
}

.menu {

  .row {
    display: flex;
    align-items: center;
  }

  &__list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
  }

  &-popup__list {
    text-align: center;
  }

  .list__item {
    display: flex;
    flex-direction: row;
  }

  &-popup .list__item {
    padding-bottom: 20px;
  }

  .link,
  &-popup .link {
    padding-left: 10px;
    padding-right: 10px;
    color: @white;
    text-transform: uppercase;
  }

  .link {
    font-size: 14px;
  }

  &-popup .link {
    font-size: 24px;
  }

  .link:hover,
  &-popup .link:hover {
    color: @green;
    text-decoration: none;
  }

  &__burger {
    position: relative;
    display: block;
    float: right;
    width: 34px;
    height: 25px;
    background-color: inherit;
    z-index: 11;
  }

  &__burger span::before,
  &__burger span::after,
  &__burger span {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 4px;
    width: 34px;
    margin-left: -17px;
    background: #fff;
  }

  &__burger span::before {
    margin-top: -7px;
  }

  &__burger span::after {
    margin-top: 3px;
  }

  &__burger span {
    margin-top: -2px;
  }

  .menu__burger span::before,
  .menu__burger span::after {
    content: '';
    display: block;
    transition: 0.4s;
  }

  .menu__burger span::before {
    transform: translateY(-5px);
  }

  .menu__burger span::after {
    transform: translateY(5px);
  }

  .menu__burger--active span {
    height: 0;
  }

  .menu__burger--active span:before {
    transform: rotate(45deg) translate(2px, 7px);
  }

  .menu__burger--active span:after {
    transform: rotate(135deg) translateY(5px);
  }

  /* popup menu for burger */

  &-popup {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    right: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 10;
    transition: 0.5s;
    transform: translateX(100%);
  }

  &-popup.active {
    transform: translateX(0%);
  }

  &-popup .link {
    color: @white;
    opacity: 1;
  }

  &-popup .link:hover {
    color: @green;
    opacity: 1;
  }

  &-popup__list {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    margin: 0;
    list-style: none;
    transform: translate(-50%, -50%);
  }

  .menu--no-active {
    display: none;
  }

  @media (max-width: 991px) {
    .row [class*='col-']:nth-child(1) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  @media (max-width: 767px) {

    display: flex;
    justify-content: space-between;

    &-popup .menu-popup__list {
      width: 100%;
    }

    &>.main-btn {
      margin-right: auto;
      height: 30px;
      font-size: 14px;
    }

    .menu--no-active {
      display: flex;
    }

    .menu--active {
      display: none;
    }
  }

  @media (max-width: 425px) {
    &>.main-btn {
      font-size: 12px;
      z-index: 2;
    }
  }
}

.main-content {

  .container {
    padding-top: 110px;
    padding-bottom: 170px;
    background-image: url('../img/burger@2x.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
  }

  h1 {
    font-size: 58px;
    text-transform: uppercase;

    small {
      font-size: 30px;
      color: @white;

    }
  }

  p {
    font-size: 14px;
    opacity: 0.4;
    text-transform: uppercase;
  }

  @media (max-width: 991px) {

    .container {
      background-position: center center;

    }

    h1,
    p {
      text-shadow: 0px 4px 5px black;
    }

    p {
      opacity: 0.9;
    }
  }

  @media (max-width: 767px) {
    h1 {
      font-size: 48px;

      small {
        font-size: 26px;
      }
    }
  }

  @media (max-width: 550px) {

    .container {
      padding-top: 0;
      padding-bottom: 0;
      background-image: none;
    }

    .main-bg {
      width: auto;
      height: 550px;
      background-image: url('../img/burger@2x.jpg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right center;
    }

    h1 {
      margin-top: -59px;
    }

    p {
      opacity: 0.3;
    }
  }

  @media (max-width: 425px) {

    margin-top: -25px;

    .main-bg {
      height: 425px;
    }

    h1 {
      font-size: 30px;

      small {
        font-size: 22px;
      }
    }
  }

  @media (max-width: 320px) {
    .main-bg {
      height: 320px;
    }
  }
}

.main-info {
  width: 100%;
  padding-top: 45px;
  padding-bottom: 50px;
  background: #131313;

  .container>.row {
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .main-wrapper .row:nth-child(2) {
    margin-top: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  [class*='col-'] {
    padding-left: 0;
    padding-right: 0;
  }

  h1 {
    font-size: 30px;
    text-transform: uppercase;
  }

  .container>.row>[class^="col-"]:nth-child(1) p {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.3);
  }

  p.value {
    color: @white;
    font-size: 18px;
    text-transform: uppercase;
    opacity: 0.8;
  }

  p.tiny {
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.3);
    font-size: 12px;
    text-transform: uppercase;
  }

  p.value a {
    color: @white;
    text-decoration: underline;
  }

  p.value a:hover {
    color: @green;
  }

  ion-icon {
    margin-right: 5px;
  }

  .adopted {
    color: @green;
  }

  .on-processing {
    opacity: 0.5;
  }

  .not-accepted {
    color: #de3724;
  }

  .main-wrapper .row {
    display: flex;
    flex-direction: row;
  }

  .data-wrapper {
    padding-right: 30px;
  }

  .footer-wrapper h2 {
    padding-top: 20px;
    font-size: 30px;
    text-transform: uppercase;
  }

  .footer-wrapper .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
    padding-top: 25px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .footer-wrapper .row:nth-of-type(1) {
    margin-top: 0;
    padding-top: 5px;
  }

  .footer-wrapper ion-icon {
    height: 20px;
    width: 20px;
    margin-top: -4px;
  }

  @media (min-width: 1200px) {
    .w-100 {
      width: 100%;
    }
  }

  @media (max-width: 767px) {

    padding-top: 20px;
    padding-bottom: 20px;

    .container>.row {
      position: relative;
    }

    .container>.row>[class^="col-"]:last-of-type {
      position: absolute;
      right: 0;
      bottom: 7px;
      font-size: 14px;
    }

    .container>.row>[class^="col-"]:last-of-type button {
      padding-top: 4px;
      padding-bottom: 2px;
    }

    h1,
    .footer-wrapper h2 {
      font-size: 26px;
    }

    .container>.row>[class^="col-"]:nth-child(1) p {
      padding-top: 20px;
    }

    .footer-wrapper .row [class^="col-"]:nth-child(1) {
      display: none;
    }

    .footer-wrapper .row {
      display: flex;
      flex-direction: row-reverse;
    }

    .footer-wrapper .row [class^="col-"]:nth-child(3) {
      text-align: left;
    }

  }

  @media (max-width: 425px) {

    h1,
    .footer-wrapper h2 {
      font-size: 24px;
    }

    .container>.row>[class^="col-"]:last-of-type {
      font-size: 12px;
    }

    .container>.row>[class^="col-"]:last-of-type button {
      height: 30px;
    }
  }
}

.actions {

  margin-top: 60px;
  margin-bottom: 60px;

  .actions__item {
    width: 100%;
    margin-bottom: 10px;
    height: min-content;
    background: @dark-grey;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background: linear-gradient(-70deg, transparent 45px, #202020 0) right, linear-gradient(45deg, transparent 15px, #020305 0) left;
  }

  .navbar-form {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  p {
    position: relative;
    margin-bottom: 0;
    padding-left: 110px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 100%;
  }

  p small {
    font-size: 18px;
    text-transform: none;
    opacity: 0.4;
    line-height: 100%;
  }

  .row .col-lg-10:nth-child(1) p::before {
    content: '1';
  }

  .row .col-lg-10:nth-child(2) p::before {
    content: '2';
  }

  .row .col-lg-10:nth-child(3) p::before {
    content: '3';
  }

  .row .col-lg-10:nth-child(4) p::before {
    content: '4';
  }

  .row .col-lg-10:nth-child(5) p::before {
    content: '5';
  }

  .row .col-lg-10:nth-child(6) p::before {
    content: '6';
  }

  p::before {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    padding-top: 3px;
    font-size: 30px;
    line-height: 35px;
    background: @green;
    border-radius: 50%;
  }

  &__item .row {
    display: flex;
    align-items: center;
  }

  form.navbar-form {
    padding: 0;
  }

  form.navbar-form a {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 12px;
    text-transform: uppercase;
  }

  form.navbar-form a:hover {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }

  form.navbar-form button ion-icon {
    width: 22.5px;
    height: 28.5px;
  }

  form.navbar-form a ion-icon {
    width: 18.5px;
    height: 18.5px;
  }

  form.navbar-form a span {
    line-height: 21px;
  }

  #qr-code {
    width: 88px;
    height: 88px;
  }

  #qr-code canvas {
    border: 4px solid @white;
  }

  @media (max-width: 1200px) {
    [class^="col-"] {
      float: none;
    }
  }

  @media (max-width: 991px) {
    #qr-code {
      display: none;
    }

    .actions__item {
      background: #202020;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
    }

    .container>.row [class^="col-"]:nth-child(1) .row [class^="col-"]:nth-child(2),
    .container>.row [class^="col-"]:nth-child(3) .row [class^="col-"]:nth-child(2),
    .container>.row [class^="col-"]:nth-child(4) .row [class^="col-"]:nth-child(2),
    .container>.row [class^="col-"]:nth-child(6) .row [class^="col-"]:nth-child(2) {
      justify-content: center;
    }

  }

  @media (max-width: 767px) {

    margin-bottom: 30px;

    .container,
    .container>.row>[class^="col-"] {
      padding-left: 0;
      padding-right: 0;
    }

    .row {
      margin-right: 0;
      margin-left: 0;
    }

    .container>.row [class^="col-"]:nth-child(1) .row [class^="col-"]:nth-child(1),
    .container>.row [class^="col-"]:nth-child(3) .row [class^="col-"]:nth-child(1),
    .container>.row [class^="col-"]:nth-child(4) .row [class^="col-"]:nth-child(1),
    .container>.row [class^="col-"]:nth-child(6) .row [class^="col-"]:nth-child(1) {
      padding-left: 0;
    }

    p {
      font-size: 26px;

      small {
        font-size: 15px;
      }

      &:before {
        height: 68px;
        width: 68px;
      }
    }
  }

  @media (max-width: 650px) {

    p {
      padding-left: 90px;
    }

    &__item .row {
      display: flex;
      flex-direction: column;
    }

    .container>.row [class^="col-"]:nth-child(1) .row [class^="col-"]:nth-child(2),
    .container>.row [class^="col-"]:nth-child(4) .row [class^="col-"]:nth-child(2) {
      justify-content: center;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .container>.row [class^="col-"]:nth-child(1) .row [class^="col-"]:nth-child(1),
    .container>.row [class^="col-"]:nth-child(3) .row [class^="col-"]:nth-child(1),
    .container>.row [class^="col-"]:nth-child(4) .row [class^="col-"]:nth-child(1),
    .container>.row [class^="col-"]:nth-child(6) .row [class^="col-"]:nth-child(1) {
      width: 100%;
    }

    .container>.row [class^="col-"]:nth-child(1) .row [class^="col-"]:nth-child(2),
    .container>.row [class^="col-"]:nth-child(3) .row [class^="col-"]:nth-child(2),
    .container>.row [class^="col-"]:nth-child(6) .row [class^="col-"]:nth-child(2) {
      min-width: 184px;
    }

    .container>.row [class^="col-"]:nth-child(4) .row [class^="col-"]:nth-child(2) {
      padding: 0;
      min-width: 194px;
    }

  }

  @media (max-width: 425px) {

    .actions__item {
      border-radius: 0;
    }

    p {
      padding-right: 15px;
      padding-left: 80px;
      font-size: 24px;

      &:before {
        top: 15px;
        left: 15px;
        height: 56px;
        width: 56px;
        font-size: 28px;
        line-height: 34px;
      }
    }
  }

  @media (max-width: 375px) {
    .container>.row [class^="col-"]:nth-child(1) .row [class^="col-"]:nth-child(2) {
      justify-content: center;
      margin-top: 0px;
      margin-bottom: 20px;
    }
  }
}

.conditions {
  margin-top: 80px;

  h2 {
    margin-bottom: 35px;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 24px;
    text-transform: uppercase;
    border-radius: 50px;
  }

  button:hover {
    color: #00B45C;
    background: @white;
  }

  button ion-icon {
    width: 32px;
    height: 32px;
    margin-right: 20px;
  }

  button span {
    height: 26px;
    line-height: 30px;
  }

  @media (max-width: 1200px) {
    button ion-icon {
      margin-right: 10px;
    }
  }

  @media (max-width: 991px) {
    .container>.row [class^="col-"] {
      margin-bottom: 10px;
    }
  }

  @media (max-width: 767px) {

    h2 {
      font-size: 26px;
    }

    button span {
      height: 20px;
      line-height: 24px;
    }

    button ion-icon {
      width: 28px;
      height: 28px;
    }

    button {
      font-size: 20px;
    }
  }

  @media (max-width: 550px) {
    margin-top: 40px;
  }

  @media (max-width: 425px) {
    h2 {
      font-size: 24px;
    }

    button {
      padding-top: 17.5px;
      padding-bottom: 17.5px;
      font-size: 16px;
    }

    button span {
      height: 16px;
      line-height: 19px;
    }

    button ion-icon {
      width: 24px;
      height: 24px;
      margin-right: 5px;
    }
  }

  @media (max-width: 330px) {

    button {
      font-size: 15px;
    }

    button ion-icon {
      margin-right: 1px;
    }
  }
}

.partnership {
  margin-top: 95px;

  h2 {
    margin-bottom: 35px;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
  }

  @media (max-width: 767px) {

    margin-top: 45px;

    h2 {
      font-size: 26px;
    }

    .container {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}

.ymaps-2-1-74-islets_map-lang-ru {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.map-wrapper {
  display: flex;
  width: 100%;
  height: 640px;

  .control-panel {
    position: relative;
    width: 276px;
    height: 100%;
    background: @dark-grey;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    overflow: hidden;
  }

  .list-of-cities {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -17px;
    display: flex;
    padding-top: 20px;
    padding-left: 0;
    flex-direction: column;
    list-style-type: none;
    overflow-y: scroll;
  }

  .list-of-cities li {
    width: 100%;
    height: 60px;
    padding-left: 30px;
    line-height: 60px;
    cursor: pointer;
  }

  .list-of-cities li a {
    color: @white;
    font-size: 24px;
    text-transform: uppercase;
  }

  .list-of-cities li a:hover,
  .list-of-cities li a:active,
  .list-of-cities li a:focus {
    text-decoration: none;
  }

  .list-of-cities li:hover:not(.city-active) a {
    color: #00B45C;
  }

  .city-active {
    position: relative;
    background: @green;
  }

  .ymaps-2-1-74-controls__toolbar {
    display: none;
  }

  #map {
    width: 75%;
    height: 100%;
  }

  @media (max-width: 991px) {
    .control-panel {
      width: 300px;
    }
  }

  @media (max-width: 767px) {

    height: 425px;

    .control-panel {
      display: none;
    }

    #map {
      width: 90%;
      height: 425px;
      margin: 0 auto;
    }

    .ymaps-2-1-74-map {
      width: 90%;
      height: 425px !important;
    }

    .ymaps-2-1-74-islets_map-lang-ru {
      width: 90%;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  @media (max-width: 425px) {
    height: 300px;

    #map {
      width: 100%;
      height: 300px;
    }

    .ymaps-2-1-74-map {
      width: 100%;
    }

    .ymaps-2-1-74-map {
      width: 100%;
      height: 300px !important;
    }
  }
}

.panel {
  border: 0;
}

.faq {

  margin-top: 80px;

  h2 {
    margin-bottom: 35px;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
  }

  #accordion .panel:nth-child(1) {
    padding-top: 25px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }

  .panel {
    padding-top: 25px;
    padding-bottom: 25px;
    background: @black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }


  .panel-group .panel {
    border-radius: 0px;
  }

  .panel[aria-expanded="true"] h3 {
    color: @green;
  }

  .panel[aria-expanded="true"] ion-icon {
    color: @green;
    transform: rotate(180deg);
  }

  .panel-heading {
    display: flex;
    justify-content: space-between;
  }

  .panel-heading:hover {
    color: @green;
  }

  .panel-heading ion-icon {
    width: 30px;
    height: 30px;
  }

  h3 a {
    font-size: 24px;
    text-decoration: none;
  }

  h3 a:hover,
  h3 a:focus {
    text-decoration: none;
  }

  .panel-body {
    width: 94%;
    border-top: none !important;
    opacity: 0.7;
  }

  @media (max-width: 767px) {

    margin-top: 40px;

    h2 {
      font-size: 26px;
    }


    h3 a {
      font-size: 20px;
    }
  }

  @media (max-width: 425px) {
    h2 {
      font-size: 24px;
    }

    h3 a {
      font-size: 18px;
    }

    #accordion .panel:nth-child(1) {
      padding-top: 15px;
    }

    .panel {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    .panel-group .panel+.panel {
      margin-top: 0;
    }

    .panel-heading ion-icon {
      margin-top: -7px;
    }
  }
}

.feedback {
  margin-top: 80px;

  form {
    position: relative;
  }

  .checkbox {
    position: relative;
  }

  span.error {
    position: absolute;
    bottom: -20px;
    font-size: 12px;
    left: 0;
    color: #a20000;
  }

  form,
  .success {
    max-width: 945px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 30px;
    background: @black-light;
    border-radius: 12px;
  }

  .success {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  h2 {
    padding-bottom: 19px;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
  }

  form>.row [class^="col-"]:first-child {
    padding-right: 10px;
  }

  form>.row [class^="col-"]:last-child {
    padding-left: 10px;
  }

  .form-group * {
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-control:hover {
    border-color: #4b4b4b;
  }

  .form-control+label {
    position: absolute;
    pointer-events: none;
    left: 15px;
    top: 19px;
    transition: 0.2s ease all;
    color: rgba(255, 255, 255, 0.3);
  }

  .form-control:hover+label,
  .form-control:focus+label {
    color: rgba(255, 255, 255, 0.5);
  }

  .form-control:focus+label,
  .form-control:not(:focus):valid~.floating-label {
    left: 15px;
    top: 12px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
    transition: 0.2s ease all;
  }

  .form-control:not(:focus):valid~.floating-label {
    color: rgba(255, 255, 255, 0.3);
  }

  .form-control:focus {
    outline: none;
    border-color: inherit;
    box-shadow: none;
    border-color: #4b4b4b;
  }

  form input {
    height: 57px;
    padding: 32px 15px 8px;
    color: #000000;
    opacity:0.8;
    background: #1b1b1b;
    border: 1px solid #2f2f2f;
    border-radius: 6px;
  }

  form select {
    height: 57px;
    padding: 12px 12px 8px;
    color: rgba(255, 255, 255, 0.8);
    background: #1b1b1b;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    background-image: url('http://www.free-icons-download.net/images/small-down-arrow-icon-15593.png');
    background-repeat: no-repeat;
    background-size: 24px 22px;
    background-position: 98% center;
    border: 1px solid #2f2f2f;
    border-radius: 6px;
  }

  .error {
    border-color: #a20000;
  }

  .error+label {
    color: #a20000;
    opacity: 0.5;
  }

  select.error {
    color: rgba(162, 0, 0, 0.5);
  }

  form textarea {
    height: 121px;
    padding: 32px 15px 8px;
    color: rgba(255, 255, 255, 0.8);
    background: #1b1b1b;
    border: 1px solid #2f2f2f;
    border-radius: 6px;
    resize: none;
  }

  .form-group .btn-primary {
    width: 100%;
    height: 57px;
    background: @green;
    border-color: @green;
  }

  .btn-primary:hover {
    background: #00B45C;
  }

  .btn-primary:disabled {
    opacity: 0.5;
  }

  .btn-primary:hover:disabled {
    background: @green;
    border-color: @green;
    opacity: 0.5;
  }

  .form-group .btn-primary:active {
    background: darken(@green, 7%);
    border-color: darken(@green, 10%);
  }

  .form-group .checkbox label {
    display: flex;
    align-items: center;
    padding: 0;
    color: rgba(255, 255, 255, 0.3);
    text-transform: none;
  }

  .form-group:last-child .row {
    display: flex;
    align-items: center;
  }

  .form-group .checkbox input[type="checkbox"] {
    display: none;
  }

  .form-group .checkbox label:before {
    content: " ";
    width: 20px;
    height: 20px;
    margin-right: 15px;
    margin-top: -3px;
    color: @white;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
  }

  .form-group .checkbox input:hover+label:before {
    background-image: linear-gradient(rgba(29, 29, 29, .6), rgba(29, 29, 29, .6)), url('../img/checkmark.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  .form-group .checkbox input:checked+label:before {
    background-image: url('../img/checkmark.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: @green;
    border-color: #01984e;
  }

  // .form-group .checkbox input:disabled+label:before {
  //   background: @green;
  //   color: @white;
  // }

  @media (max-width: 991px) {
    #emailInputErr-1 {
      position: unset;
      display: block;
    }
  }

  @media (max-width: 767px) {

    margin-top: 40px;

    h2 {
      margin-top: 10px;
      padding-bottom: 10px;
      font-size: 26px;
    }

    form>.form-group:nth-of-type(1) .row [class^="col-"]:nth-child(1) {
      margin-bottom: 20px;
    }

    form>.form-group:last-of-type .row {
      display: flex;
      flex-direction: column;
    }

    form>.form-group:last-of-type .row [class^="col-"]:nth-child(1) {
      margin-bottom: 20px;
    }

    form>.row [class^="col-"]:first-child {
      padding-right: 15px;
    }

    form>.row [class^="col-"]:last-child {
      padding-left: 15px;
    }

    span.error {
      position: unset;
      display: block;
      margin-top: 4px;
    }

    .form-group .checkbox input:hover+label:before {
      background-image: none;
    }

    .form-group .checkbox input:checked+label:before {
      background-image: url('../img/checkmark.svg');
    }
  }

  @media (max-width: 425px) {
    .container {
      padding-left: 0;
      padding-right: 0;
    }

    form {
      padding: 26px 15px 15px;
      border-radius: 0;
    }

    .success h2 {
      padding-top: 20px;
    }
  }
}

.footer {
  margin-top: 100px;

  .row {
    display: flex;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    padding-top: 14px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }

  .row .col-lg-6 {
    padding: 0;
  }

  .navbar-nav li a {
    padding: 10px 20px 10px 0;
  }

  .navbar-nav li a {
    color: @white;
    background: inherit;
    font-size: 14px;
    text-transform: uppercase;
  }

  .navbar-nav li a:hover {
    color: @green;
    background: @black;
  }

  .copyright {
    margin-top: 50px;
    color: rgba(255, 255, 255, 0.3);
    font-size: 14px;
    text-transform: uppercase;
  }

  @media (max-width: 767px) {

    margin-top: 50px;

    .container .row {
      display: flex;
      flex-direction: column;
    }

    .nav {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
    }

    .container .row [class^="col-"]:nth-last-child(1) {
      justify-content: center;
    }

    .container .row [class^="col-"]:nth-last-child(1) button,
    .container .row [class^="col-"]:nth-last-child(1) a {
      margin-bottom: 10px;
    }

    .container .row [class^="col-"]:nth-last-child(1) {
      flex-wrap: wrap;
    }

    .navbar-nav li a {
      padding: 10px;
    }
  }

  @media (max-width: 556px) {
    .nav {
      justify-content: flex-start;
    }

    .nav a {
      margin-left: 7px;
    }

    .container .row [class^="col-"]:last-child {
      justify-content: flex-start;
    }
  }

  @media (max-width: 375px) {
    button {
      margin-right: 35px;
    }

    .container .row [class^="col-"]:last-child a:nth-child(2) {
      margin-left: 0;
    }
  }
}

.text-transform-initial {
  text-transform: initial !important;
}

.modal {

  span.warning {
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -171px;
    color: #a20000;
  }

  .form-control.warning,
  .form-control:focus+label.warning,
  .form-control:not(:focus):valid~.floating-label.warning {
    color: #a20000;
  }

  .form-control.warning {
    border-color: #a20000;
  }

  .warning-bottom {
    position: absolute;
    bottom: -2px;
    color: #a20000;
    font-size: 12px;
    text-transform: uppercase;
  }

  // span.error {
  //   position: absolute;
  //   bottom: -20px;
  //   font-size: 12px;
  //   left: 0;
  //   color: #a20000;
  // }

  // #emailInputErr-2 {
  //   bottom: -37px;
  //   // position: unset;
  //   // display: block;
  // }

  &-dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 888px !important;
    width: 100% !important;
    height: min-content;
    transform: translate(-50%, -50%) !important;
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 457px;
    background: #131313;
  }

  .confirmation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 457px;
    background: #131313;
    border-radius: 6px;
  }

  .confirmation p {
    opacity: 0.5;
  }

  .no-active {
    display: none;
  }

  .row {
    margin-right: 0;
    margin-left: 0;
  }

  &-header,
  &-wrapper,
  &-body,
  &-footer {
    padding: 20px 20px 30px;
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &-header,
  &-wrapper {
    border-bottom: none;
  }

  &-footer {
    border-top: none;
  }

  &-header h4 a {
    padding: 20px 0 0;
    color: rgba(255, 255, 255, 0.3);
    font-size: 30px;
    border: 0;
    text-transform: uppercase;
    text-decoration: none;
  }

  &-header h4 a:hover {
    color: @white;
    text-decoration: none;
    background: none;
    border-bottom: 4px solid @white;
  }

  .isActive {
    color: @white;
    background: none;
    border: 0;
    border-bottom: 4px solid @white  !important;
  }

  .form-control {
    height: 57px;
    margin-bottom: 20px;
    color: @white;
    background: #1b1b1b;
    border: 1px solid #2f2f2f;
    border-radius: 6px;
  }

  .form-group * {
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
  }

  .btn-primary {
    width: 100%;
    height: 57px;
    font-size: 16px;
    background: @green;
    border-color: @green;
    text-transform: uppercase;
  }

  .btn-primary:hover {
    background: #00B45C;
  }

  .btn-primary:disabled {
    opacity: 0.5;
  }

  .btn-primary:hover:disabled {
    background: @green;
    border-color: @green;
    opacity: 0.5;
  }

  .btn-primary:active {
    background: darken(@green, 7%);
    border-color: darken(@green, 10%);
  }

  .form-control:hover {
    border-color: #4b4b4b;
  }

  .form-control+label {
    position: absolute;
    pointer-events: none;
    left: 15px;
    top: 19px;
    transition: 0.2s ease all;
    color: rgba(255, 255, 255, 0.3);
  }

  .form-control:hover+label,
  .form-control:focus+label {
    color: rgba(255, 255, 255, 0.5);
  }

  .form-control:focus+label,
  .form-control:not(:focus):valid~.floating-label {
    left: 15px;
    top: 12px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
    transition: 0.2s ease all;
  }

  .form-control:not(:focus):valid~.floating-label {
    color: rgba(255, 255, 255, 0.3);
  }

  .form-control:focus {
    outline: none;
    border-color: inherit;
    box-shadow: none;
    border-color: #4b4b4b;
  }

  form input {
    height: 57px;
    padding: 32px 15px 8px;
    color: rgba(255, 255, 255, 0.8);
    background: #1b1b1b;
    border: 1px solid #2f2f2f;
    border-radius: 6px;
  }

  .error {
    border-color: #a20000;
  }

  .error+label {
    color: #a20000;
    opacity: 0.5;
  }

  .form-group .checkbox label {
    display: flex;
    align-items: center;
    padding: 0;
    color: rgba(255, 255, 255, 0.3);
    text-transform: none;
  }

  .form-group:last-child .row {
    display: flex;
    align-items: center;
  }

  .form-group .checkbox input[type="checkbox"] {
    display: none;
  }

  .form-group .checkbox label:before {
    content: " ";
    width: 20px;
    height: 20px;
    margin-right: 15px;
    margin-top: -3px;
    color: @white;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
  }

  .form-group .checkbox input:hover+label:before {
    background-image: linear-gradient(rgba(29, 29, 29, .6), rgba(29, 29, 29, .6)), url('../img/checkmark.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  .form-group .checkbox input:checked+label:before {
    background-image: url('../img/checkmark.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: @green;
    border-color: #01984e;
  }

  .form-group .checkbox input:disabled+label:before {
    background: @green;
    color: @white;
  }

  .modal-header-wrapper {
    display: flex;
    justify-content: center;
  }

  .modal-header-wrapper h4 {
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 30px;
    text-transform: uppercase;
  }

  a.text-transform-initial {
    color: @white;
    opacity: 0.3;
  }

  a.text-transform-initial:hover {
    color: @white;
    opacity: 0.6;
    text-decoration: none;
  }

  a.text-transform-initial:focus {
    text-decoration: none;
  }

  @media (max-width: 991px) {
    &-dialog {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  @media (max-width: 767px) {

    &-header h4 a,
    .restore-pswd h4,
    .edit-profile h4 {
      font-size: 26px;
    }

    .forgot-pswd .modal-header-wrapper h4 {
      font-size: 24px;
    }

    &-dialog {
      height: 100vh;
      margin-left: 0;
    }

    .modal-content {
      min-height: 247px !important;
      height: min-content;
    }

    .form-control {
      margin-bottom: 10px;
    }

    .registration .modal-body {
      padding-bottom: 0;
    }

    .registration .modal-footer {
      padding-top: 0;
    }

    .checkbox {
      margin-bottom: 20px;
      padding-left: 5px;
      padding-right: 5px;
    }

    .upload .main-btn {
      display: flex;
      justify-content: center;
      padding-top: 5px !important;
      padding-bottom: 2px;
      font-size: 14px;
    }

    .confirmation {
      height: 300px;
    }
  }

  @media (max-width: 425px) {

    span.warning {
      margin-left: -100px;
      width: 200px;
      text-align: center;
    }

    &-dialog {
      left: 0;
      top: 0;
      transform: translate(0, 0) !important;
    }

    &-header {
      padding: 20px 10px 28px;
    }

    &-body,
    &-footer {
      padding: 20px 10px 10px;
    }

    .modal-header-wrapper {
      justify-content: flex-start;
    }

    .modal-header-wrapper h4 {
      padding-top: 0;
      padding-bottom: 0;
      padding-right: 10px;
      padding-left: 0;
      margin-top: 0;
    }

    .restore-pswd .modal-header-wrapper h4,
    .edit-profile .modal-header-wrapper h4 {
      margin-top: 7px;
    }

    .edit-profile .modal-header-wrapper h4 {
      padding-right: 30px;
    }

    &-header h4 a {
      padding: 0;
      font-size: 24px;
    }

    .restore-pswd h4,
    .edit-profile h4 {
      font-size: 24px;
    }

    .forgot-pswd .modal-header-wrapper h4 {
      font-size: 20px;
    }

    .forgot-pswd h4 {
      margin: 8px auto;
    }

    .back {
      top: 22px;
      left: 10px;
    }

    &-header .close {
      right: 10px;
      margin-top: 2px;
    }

    &-body .row [class^="col-"],
    &-footer .row [class^="col-"] {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    .checkbox {
      padding-left: 0px;
      padding-right: 0px;
    }

    .checkbox label {
      align-items: flex-start;
      text-align: left;
    }

    .checkbox label::before {
      margin-top: 0;
    }

    .upload .main-btn {
      display: flex;
      justify-content: center;
      height: 30px;
      font-size: 14px;
    }
  }
}

.close {
  position: absolute;
  right: 20px;
  font-weight: normal;
  font-size: 54px;
  line-height: 0.5;
  color: white;
  opacity: .5;

  &:focus {
    color: white;
    opacity: .5;
  }

  &:hover {
    color: white;
    opacity: .8;
  }
}

.no-active {
  display: none;
}

.back {
  content: '';
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
  width: 20px;
  height: 30px;
  background-image: url(../img/arrow-left.png);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.3;

  &:focus {
    text-decoration: none;
    opacity: 0.3;
  }

  &:hover {
    text-decoration: none;
    opacity: 0.6;
  }
}

.edit-profile {
  height: min-content;

  .modal-body label {
    position: absolute;
    padding-left: 12px;
    padding-top: 13px;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
  }

  .modal-body input {
    padding-top: 27px;
  }

  .modal-body input::placeholder {
    color: rgba(255, 255, 255, 0.8);
  }
}

.upload {

  input[type="file"] {
    display: input-block;
    width: 100%;
    height: 30px;
    opacity: 0;
    cursor: pointer;
    position: absolute;
    left: 0;
  }

  #fileUpload {
    height: 45px;
    padding-top: 0;
  }

  .fileName {
    height: 20px;
    margin-top: auto;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  label {
    margin-top: -9px;
    padding-top: 6px !important;
    padding-left: 0px !important;
  }

  .main-btn {
    padding-top: 7px !important;
  }
}

.cluster-icon {
  display: block;
  background-color: #000;
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 43px;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
}

.map-marker {
  height: 35px;
  width: 35px;
  margin-left: -17px;
  margin-top: -17px;
  border-radius: 50%;
  background-color: #000;
  // background-image: url('/img/placemarker.svg');
  background-image: url('/img/burger@2x.png');
  background-size: 21px 21px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.popover {
  display: block;
  padding: 15px;
  font-family: @castrol;
  border: none;
  box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.75) !important;
  border-radius: 11px;
}

.popover-contentz {
  color: #888;
  text-transform: uppercase;

}

body [class*="ymaps-2"][class*="-map"] .popover {
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.05) !important;
}

.popover.top>.arrow {
  border-top-color: #fff;
}

.popover .close {
  position: absolute;
  right: 5px;
  top: 1px;
}

#dropdown {
  display: none;
  width: 90%;
  height: 60px;
  padding-left: 30px;
  padding-right: 15px;
  margin: 0 auto 30px;
  color: @white;
  font-size: 16px;
  background: #202020;
  border-color: transparent;
  border-radius: 50px;
  text-transform: uppercase;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  background-image: url('http://www.free-icons-download.net/images/small-down-arrow-icon-15593.png');
  background-repeat: no-repeat;
  background-size: 24px 22px;
  background-position: 97% center;

  @media (max-width: 767px) {
    display: flex;
  }
}