doctype html  
html(lang='ru')  
  head
    meta(charset="utf-8")
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Black Star Burger
    link(rel='stylesheet' href='/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/map.css')
    link(rel='stylesheet' href='/css/main.less')
  body

    #header.header
      .menu-popup
        ul.menu-popup__list.list.menu--no-active
          li.list__item
            a.link(href="#conditions") Условия проведения
          li.list__item
            a.link(href="#partnership") Адрес ресторанов
          li.list__item
            a.link(href="#faq") Вопросы и ответы
          li.list__item
            a.link(href="#feedback") Обратная связь
          li.list__item.d-flex.justify-content-center
            button.btn.main-btn.btn-reg.d-flex.justify-content-center.green 
              span Выйти
      .container
        .navigation
          .menu
            .row
              .col-xs-12.col-sm-9.col-md-9.col-lg-7.col-lg-offset-3
                ul.menu__list.list.menu--active
                  li.menu__item
                    a.link(href="#conditions") Условия проведения
                  li.menu__item
                    a.link(href="#partnership") Адрес ресторанов
                  li.menu__item
                    a.link(href="#faq") Вопросы и ответы
                  li.menu__item
                    a.link(href="#feedback") Обратная связь
              .col-sm-3.col-md-3.col-lg-2.d-flex.justify-content-end
                button.btn.main-btn.btn-reg.d-flex.justify-content-center.green.menu--active 
                  span Выйти
            button.btn.main-btn.btn-reg.d-flex.justify-content-center.green.menu--no-active Выйти
            .menu__burger.menu--no-active
              span
    #main-info.main-info
      .container
        .row
          .col-sm-7.col-md-6.col-lg-6
            h1.margin-0 Варфаломеев Игорь Петрович
            p 5 покупок
          .col-sm-5.col-md-6.col-lg-6.d-flex.justify-content-end
            button.btn.main-btn.edit-btn.green 
              span Редактировать профиль
        .main-wrapper
          .row.flex-wrap
            .data-wrapper
              p.tiny Город
              p.value Санкт-Петербург
            .data-wrapper
              p.tiny Дата рождения
              p.value 01.01.1980
            .data-wrapper
              p.tiny Торговая точка
              p.value Shell на Московском проспекте
            .data-wrapper
              p.tiny ID Приложения
              p.value 3294872839
            .data-wrapper
              p.tiny Телефон
              p.value +7 900 333 4455
            .data-wrapper
              p.tiny Email
              p.value Varf@mail.ru
            .data-wrapper.w-100
              p.d-block.tiny Бланк согласия
              p.value
                a(href="#") Скачать
        .footer-wrapper
          h2 Покупки Castrol
          .row
            .col-sm-6.col-md-6.col-lg-6 
              p Покупка Castrol
            .col-xs-6.col-sm-3.col-md-3.col-lg-3.text-align-left
              p.adopted.d-flex.align-items-center
                ion-icon(name="checkmark-circle")
                | Принят
            .col-xs-6.col-sm-3.col-md-3.col-lg-3.text-align-right
              p 18.09.2019
          .row
            .col-sm-6.col-md-6.col-lg-6
              p Покупка Castrol
            .col-xs-6.col-sm-3.col-md-3.col-lg-3.text-align-left
              p.on-processing.d-flex.align-items-center
                ion-icon(name="time")
                | На обработке
            .col-xs-6.col-sm-3.col-md-3.col-lg-3.text-align-right
              p 18.09.2019
          .row
            .col-sm-6.col-md-6.col-lg-6
              p Покупка Castrol              
            .col-xs-6.col-sm-3.col-md-3.col-lg-3.text-align-left
              p.not-accepted.d-flex.align-items-center
                ion-icon(name="alert")
                | Не принят(дубликат)
            .col-xs-6.col-sm-3.col-md-3.col-lg-3.text-align-right
              p 18.09.2019
    #actions.actions
      .container
        .row
          .col-sm-12.col-md-12.col-lg-10.col-lg-offset-1
            .actions__item
              .row
                .col-xs-12.col-sm-7.col-md-6.col-lg-6
                  p Скачай приложение
                    br
                    small Детальное описание шага, призыв к действию
                .col-xs-12.col-sm-5.col-md-5.col-lg-5.d-flex.align-items-center
                  a.margin-right-10(href="#")
                    img(src="/img/app-store.svg", alt="App Store")
                  a.margin-right-10(href="#")
                    img(src="/img/google-play-badge.svg", alt="Google Play")
                  #qr-code               
          .col-lg-10.col-lg-offset-1
            .actions__item
              p Получи ID
                br
                small Детальное описание шага, призыв к действию
          .col-lg-10.col-lg-offset-1
            .actions__item
              .row
                .col-xs-8.col-sm-8.col-md-8.col-lg-8
                  p Подпиши документ согласия
                    br
                    small Детальное описание шага, призыв к действию
                .col-xs-4.col-sm-4.col-md-3.col-lg-3.d-flex.justify-content-end
                  form.navbar-form.text-center
                    button.btn.main-btn.green.d-flex.justify-content-around.align-items-center
                      ion-icon(name="download")
                      span Банк согласия
                    a.green.d-flex.justify-content-center
                      ion-icon(name="download")
                      span Образец заполнения
          .col-xs-12.col-sm-12.col-md-12.col-lg-10.col-lg-offset-1
            .actions__item
              .row
                .col-xs-8.col-sm-8.col-md-9.col-md-8.col-lg-8
                  p Зарегистрируйся на сайте
                    br
                    small Детальное описание шага, призыв к действию
                .col-xs-4.col-sm-4.col-md-3.col-lg-3.d-flex.justify-content-end.padding-left-0
                  button.btn.main-btn.btn-reg.d-flex.justify-content-center.green
                    span Регистрация и вход
          .col-lg-10.col-lg-offset-1
            .actions__item
              p Помогай покупателям
                br
                small Детальное описание шага, призыв к действию
          .col-sm-12.col-md-12.col-lg-10.col-lg-offset-1
            .actions__item
              .row
                .col-xs-8.col-sm-8.col-md-8.col-lg-8
                  p Получи приз
                    br
                    small Детальное описание шага, призыв к действию
                .col-xs-4.col-sm-4.col-md-3.col-lg-3.d-flex.justify-content-end
                  form.navbar-form
                    button.btn.main-btn.green 
                      span Список ресторанов
    #conditions.conditions
      .container
        h2 Условия проведения
        .row
          .col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-0.col-lg-6
            button.btn.btn-default.green
              ion-icon(name="open") 
              span Полные условия и правила            
          .col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-0.col-lg-6
            button.btn.btn-default.green
              ion-icon(name="open")
              span Продукция, участвующая в акции    
    #partnership.partnership
      .container
        h2 Рестораны, участвующие в конкурсе
        select#dropdown.form-control
          option.city-active(data-location="moscow") Москва
          option(data-location="spb") Санкт-Петербург
          option(data-location="nn") Нижний Новгород
          option(data-location="ufa") Уфа
          option(data-location="grozniy") Грозный
          option(data-location="voronezh") Воронеж
          option(data-location="rnd") Ростов-на-Дону
          option(data-location="novosib") Новосибирск
          option(data-location="ekb") Екатеринбург
          option(data-location="krasnodar") Краснодар
          option(data-location="krasnogorsk") Красногорск
          option(data-location="mytishchi") Мытищи
          option(data-location="balashiha") Балашиха
          option(data-location="stavropol") Ставрополь
          option(data-location="kaliningrad") Калининград
          option(data-location="penza") Пенза
          option(data-location="sochi") Сочи
          option(data-location="yakutsk") Якутск
          option(data-location="tyumen") Тюмень
          option(data-location="chelyabinsk") Челябинск
          option(data-location="vladikavkaz") Владикавказ
          option(data-location="surgut") Сургут
          option(data-location="ulyanovsk") Ульяновск
          option(data-location="nizhnevartovsk") Нижневартовск
          option(data-location="gelendzhik") Геленджик
          option(data-location="blagoveschensk") Благовещенск
        .map-wrapper
          .control-panel
            ul.list-of-cities
              li.city-active(data-location="moscow")
                a(href="#") Москва
              li(data-location="spb")
                a(href="#") Санкт-Петербург
              li(data-location="nn")
                a(href="#") Нижний Новгород
              li(data-location="ufa")
                a(href="#") Уфа
              li(data-location="grozniy")
                a(href="#") Грозный
              li(data-location="voronezh")
                a(href="#") Воронеж
              li(data-location="rnd")
                a(href="#") Ростов-на-Дону
              li(data-location="novosib")
                a(href="#") Новосибирск
              li(data-location="ekb")
                a(href="#") Екатеринбург
              li(data-location="krasnodar")
                a(href="#") Краснодар
              li(data-location="krasnogorsk")
                a(href="#") Красногорск
              li(data-location="mytishchi")
                a(href="#") Мытищи
              li(data-location="balashiha")
                a(href="#") Балашиха
              li(data-location="stavropol")
                a(href="#") Ставрополь
              li(data-location="kaliningrad")
                a(href="#") Калининград
              li(data-location="penza")
                a(href="#") Пенза
              li(data-location="sochi")
                a(href="#") Сочи
              li(data-location="yakutsk")
                a(href="#") Якутск
              li(data-location="tyumen")
                a(href="#") Тюмень
              li(data-location="chelyabinsk")
                a(href="#") Челябинск
              li(data-location="vladikavkaz")
                a(href="#") Владикавказ
              li(data-location="surgut")
                a(href="#") Сургут
              li(data-location="ulyanovsk")
                a(href="#") Ульяновск
              li(data-location="nizhnevartovsk")
                a(href="#") Нижневартовск
              li(data-location="gelendzhik")
                a(href="#") Геленджик
              li(data-location="blagoveschensk")
                a(href="#") Благовещенск
          #map

    #faq.faq
      .container
        .row
          .col-lg-10.col-lg-offset-1
            h2 Вопросы и ответы
            #accordion.panel-group(role="tablist" aria-multiselectable="true")
              .panel(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1")
                #heading1.panel-heading
                  h3.panel-title
                    a.
                      Кто является организатором акции?
                  ion-icon(name="arrow-down")
                #collapse1.panel-collapse.collapse(role="tabpanel" aria-labelledby="heading1")
                  .panel-body.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione provident architecto doloremque ut laboriosam minus tempora magnam, nulla atque officiis! Rerum incidunt magni et pariatur nulla sit aperiam perferendis possimus minus at totam harum, autem soluta placeat. Quaerat recusandae est similique harum officia aliquam quas, aliquid mollitia, alias labore ducimus.
              .panel(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2")
                #heading2.panel-heading
                  h3.panel-title
                    a.
                      Кто является организатором акции?
                  ion-icon(name="arrow-down")
                #collapse2.panel-collapse.collapse(role="tabpanel" aria-labelledby="heading2")
                  .panel-body.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione provident architecto doloremque ut laboriosam minus tempora magnam, nulla atque officiis! Rerum incidunt magni et pariatur nulla sit aperiam perferendis possimus minus at totam harum, autem soluta placeat. Quaerat recusandae est similique harum officia aliquam quas, aliquid mollitia, alias labore ducimus.
              .panel(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3")
                #heading3.panel-heading
                  h3.panel-title
                    a.
                      Кто является организатором акции?
                  ion-icon(name="arrow-down")
                #collapse3.panel-collapse.collapse(role="tabpanel" aria-labelledby="heading3")
                  .panel-body.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione provident architecto doloremque ut laboriosam minus tempora magnam, nulla atque officiis! Rerum incidunt magni et pariatur nulla sit aperiam perferendis possimus minus at totam harum, autem soluta placeat. Quaerat recusandae est similique harum officia aliquam quas, aliquid mollitia, alias labore ducimus.
              .panel(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4")
                #heading4.panel-heading
                  h3.panel-title
                    a.
                      Кто является организатором акции?
                  ion-icon(name="arrow-down")
                #collapse4.panel-collapse.collapse(role="tabpanel" aria-labelledby="heading4")
                  .panel-body.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione provident architecto doloremque ut laboriosam minus tempora magnam, nulla atque officiis! Rerum incidunt magni et pariatur nulla sit aperiam perferendis possimus minus at totam harum, autem soluta placeat. Quaerat recusandae est similique harum officia aliquam quas, aliquid mollitia, alias labore ducimus.
              .panel(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5")
                #heading5.panel-heading
                  h3.panel-title
                    a.
                      Кто является организатором акции?
                  ion-icon(name="arrow-down")
                #collapse5.panel-collapse.collapse(role="tabpanel" aria-labelledby="heading5")
                  .panel-body.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione provident architecto doloremque ut laboriosam minus tempora magnam, nulla atque officiis! Rerum incidunt magni et pariatur nulla sit aperiam perferendis possimus minus at totam harum, autem soluta placeat. Quaerat recusandae est similique harum officia aliquam quas, aliquid mollitia, alias labore ducimus.
    #feedback.feedback
      .container
        form
          h2 Обратная связь
          .row
            .col-sm-6.col-md-6.col-lg-6
              .form-group.position-relative
                input#nameInput.form-control(type="text" autocomplete="off" required)
                label.floating-label(for="nameInput") Имя и фамилия
                span#nameInputErr-1.error Пожалуйста, введите свое Имя/Фамилию
            .col-sm-6.col-md-6.col-lg-6
              .form-group.position-relative
                input#emailInput.form-control(type="text" autocomplete="off" required)
                label.floating-label(for="emailInput") Email
                span#emailInputErr-1.error Пожалуйста, введите корректный адрес электронной почты.
          .form-group.position-relative
            //- input#themeMessageSelect.form-control(type="text" autocomplete="off" required)
            //- label.floating-label(for="themeMessageSelect") Тема сообщения
            select#themeMessageSelect.form-control
              option Тема сообщения
              option Тема сообщения 2
              option Тема сообщения 3
            span#themeMessageSelectErr-1.error Пожалуйста, выберите тему сообщения            
          .form-group.position-relative
            textarea#messageInput.form-control(rows="3" type="text" autocomplete="off" required)
            label.floating-label(for="messageInput") Сообщение
            span#messageInputErr-1.error Пожалуйста, введите сообщение
          .form-group
            .row
              .col-xs-12.col-sm-7.col-md-5.col-lg-5
                .checkbox
                  input#checkbox(type='checkbox')
                  label(for="checkbox") Согласие на обработку персональных данных
                  span#checkboxErr-1.error Необходимо дать согласие на обработку персональных данных
              .col-xs-12.col-sm-5.col-md-4.col-md-offset-3.col-lg-4.col-lg-offset-3     
                button#submit.btn.btn-primary(type='submit' disabled) Отправить
        .success.no-active
          img(src="/img/like.svg", alt="success")
          h2 Ваш запрос принят!
    #footer.footer
      .container
        .row
          .col-xs-12.col-lg-6
            ul.nav.navbar-nav
              li
                a(href="#") Полные условия и правила
              li
                a(href="#") Банк согласия
              li
                a(href="#") Образец заполнения банка согласия
          .col-xs-12.col-lg-6.d-flex.justify-content-end.align-items-center
            button.btn.main-btn.btn-reg.green 
              span Регистрация и вход
            a.margin-right-10.margin-left-10(href="#")
              img(src="/img/app-store.svg", alt="App Store")
            a(href="#")
              img(src="/img/google-play-badge.svg", alt="Google Play")
        p.copyright &copy; 2019. Все права защищены
    #myModal.modal.fade
      .modal-dialog
        //- #registration.registration.modal-content
        //-   .modal-header
        //-     button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
        //-     .modal-header-wrapper
        //-       h4
        //-         a.active(href="#registration") Регистрация
        //-       h4
        //-         a(href="#login") Вход
        //-   .modal-body
        //-     .row
        //-       .col-lg-4
        //-         input#surnameInput-1.form-control(type='text' placeholder='Фамилия')
        //-       .col-lg-4
        //-         input#nameInput-1.form-control(type='text' placeholder='Имя')
        //-       .col-lg-4
        //-         input#middleNameInput-1.form-control(type='text' placeholder='Отчество')
        //-     .row
        //-       .col-lg-4
        //-         input#emailInput-1.form-control(type='email' placeholder='Email')
        //-       .col-lg-4
        //-         input#pswdInput-1.form-control(type='password' placeholder='Пароль')
        //-       .col-lg-4
        //-         input#rePswdInput-1.form-control(type='password' placeholder='Пароль еще раз')
        //-   .modal-footer
        //-     .row
        //-       .col-lg-5(style="padding-left: 10px; padding-right: 10px;")
        //-         .checkbox
        //-           input#checkbox-1(type='checkbox')
        //-           label(for="checkbox-1") Согласие на обработку персональных данных
        //-       .col-lg-4.col-lg-offset-3     
        //-         button.btn.btn-primary(type='submit') Зарегистрироваться
        //- #login.login.modal-content
        //-   .modal-header
        //-     button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
        //-     .modal-header-wrapper
        //-       h4
        //-         a(href="#registration") Регистрация
        //-       h4
        //-         a(href="#login") Вход
        //-   .modal-body
        //-     .row
        //-       .col-lg-4.col-lg-offset-2
        //-         input#emailInput-2.form-control(type='email' placeholder='Email')
        //-       .col-lg-4
        //-         input#pswdInput-2.form-control(type='password' placeholder='Пароль')
        //-     .row
        //-       .col-lg-4.col-lg-offset-4.text-align-center
        //-         a.text-transform-initial(href="#forgot-pswd") Забыли пароль?
        //-   .modal-footer
        //-     .row
        //-       .col-lg-4.col-lg-offset-4 
        //-         //- form(action="logged.pug")
        //-           //- input.btn.btn-primary(type="submit" value="Войти")
        //-         a.btn.btn-primary.d-flex.justify-content-center.align-items-center(href="logged.pug") Войти
        //- #forgot-pswd.forgot-pswd.modal-content.no-active
        //-   .modal-header
        //-     a.back(href="#")
        //-     button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
        //-     .modal-header-wrapper
        //-       h4 Восстановление пароля
        //-   .modal-body
        //-     .row
        //-       .col-lg-4.col-lg-offset-4
        //-         input#emailInput-3.form-control(type='email' placeholder='Email')
        //-   .modal-footer
        //-     .row
        //-       .col-lg-4.col-lg-offset-4 
        //-         button.btn.btn-primary(type='submit') Отправить инструкции
        //- #restore-pswd.restore-pswd.modal-content.no-active
        //-   .modal-header
        //-     button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
        //-     .modal-header-wrapper
        //-       h4 Смена пароля
        //-   .modal-body
        //-     .row
        //-       .col-lg-4.col-lg-offset-2
        //-         input#pswdInput-3.form-control(type='password' placeholder='Новый пароль')
        //-       .col-lg-4
        //-         input#rePswdInput-2.form-control(type='password' placeholder='Новый пароль еще раз')
        //-   .modal-footer
        //-     .row
        //-       .col-lg-4.col-lg-offset-4 
        //-         button.btn.btn-primary(type='submit') Далее
        form#registration.registration.modal-content
          .modal-header.position-relative
            button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
            .modal-header-wrapper
              h4
                a.active(href="#registration") Регистрация
              h4
                a(href="#login") Вход
            span.warning
              img(src="/img/warning.svg" style="width: 16px; margin-right: 5px;")
              | Пользователь с такой почтой уже зарегистрирован
          .modal-body
            .row
              .col-xs-12.col-sm-4.col-md-4.col-lg-4
                .form-group.position-relative
                  input#surnameInput-1.form-control(type='text' autocomplete="off" required)
                  label.floating-label(for="surnameInput-1") Фамилия
              .col-xs-12.col-sm-4.col-md-4.col-lg-4
                .form-group.position-relative
                  input#nameInput-1.form-control(type='text' autocomplete="off" required)
                  label.floating-label(for="nameInput-1") Имя
              .col-xs-12.col-sm-4.col-md-4.col-lg-4
                .form-group.position-relative
                  input#middleNameInput-1.form-control(type='text' autocomplete="off" required)
                  label.floating-label(for="middleNameInput-1") Отчество
            .row
              .col-xs-12.col-sm-4.col-md-4.col-lg-4
                .form-group.position-relative
                  input#emailInput-1.form-control.warning(type='text' autocomplete="off" required)
                  label.floating-label.warning(for="emailInput-1") Email
                span.warning-bottom Неккоректный формат адреса почты               
              .col-xs-12.col-sm-4.col-md-4.col-lg-4
                .form-group.position-relative
                  input#pswdInput-1.form-control(type='password' autocomplete="off" required)
                  label.floating-label(for="pswdInput-1") Пароль
              .col-xs-12.col-sm-4.col-md-4.col-lg-4
                .form-group.position-relative
                  input#rePswdInput-1.form-control.warning(type='password' autocomplete="off" required)
                  label.floating-label.warning(for="rePswdInput-1") Пароль еще раз
                span.warning-bottom Заполните поле              
          .modal-footer
            .form-group.margin-0
              .row.flex-wrap
                .col-xs-12.col-sm-6.col-md-5.col-lg-5(style="padding-left: 10px; padding-right: 10px;")
                  .checkbox
                    input#checkbox-1(type='checkbox')
                    label(for="checkbox-1") Согласие на обработку персональных данных
                .col-xs-12.col-sm-4.col-sm-offset-2.col-md-4.col-md-offset-3.col-lg-4.col-lg-offset-3     
                  button#submit-1.btn.btn-primary(type='submit' disabled) Зарегистрироваться
        .confirmation.no-active
          .modal-header
            button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
            .modal-header-wrapper
              h4 Подтверждение регистрации
          .modal-body
            .row
              .col-xs-12.col-sm-10.col-sm-offset-1.col-md-10.col-md-offset-1.col-lg-10.col-lg-offset-1
                p На указанный e-mail было отправлено письмо.
                p Пожалуйста, проверьте Вашу почту и папку "спам", пройдите по ссылке из письма для подтверждения регистрации.
          .modal-footer
            .row
              .col-xs-12.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4.col-lg-4.col-lg-offset-4 
                button#submit-3.btn.btn-primary(type='submit') ОК
        form#login.login.modal-content
          .modal-header
            button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
            .modal-header-wrapper
              h4
                a(href="#registration") Регистрация
              h4
                a(href="#login") Вход
          .modal-body
            .row
              .col-sm-4.col-sm-offset-2.col-md-4.col-md-offset-2.col-lg-4.col-lg-offset-2
                .form-group.position-relative
                  input#emailInput-2.form-control(type='text' autocomplete="off" required)
                  label.floating-label(for="emailInput-2") Email
              .col-sm-4.col-md-4.col-lg-4
                .form-group.position-relative
                  input#pswdInput-2.form-control(type='password' autocomplete="off" required)
                  label.floating-label(for="pswdInput-2") Пароль
            .row
              .col-sm-4.col-sm-offset-4.col-md-4.col-md-offset-4.col-lg-4.col-lg-offset-4.text-align-center
                a.text-transform-initial(href="#forgot-pswd") Забыли пароль?
          .modal-footer
            .row
              .col-sm-4.col-sm-offset-4.col-md-4.col-md-offset-4.col-lg-4.col-lg-offset-4 
                //- form(action="logged.pug")
                  //- input.btn.btn-primary(type="submit" value="Войти")
                a#submit-2.btn.btn-primary.d-flex.justify-content-center.align-items-center(href="logged.pug") Войти
        form#forgot-pswd.forgot-pswd.modal-content.no-active
          .modal-header
            a.back(href="#")
            button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
            .modal-header-wrapper
              h4 Восстановление пароля
          .modal-body
            .row
              .col-xs-12.col-sm-6.col-sm-offset-3.col-md-offset-4.col-md-4.col-lg-4.col-lg-offset-4
                .form-group.position-relative
                  input#emailInput-3.form-control(type='text' autocomplete="off" required)
                  label.floating-label(for="emailInput-3") Email
          .modal-footer
            .row
              .col-xs-12.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4.col-lg-4.col-lg-offset-4 
                button#submit-3.btn.btn-primary(type='submit') Отправить инструкции
        form#restore-pswd.restore-pswd.modal-content.no-active
          .modal-header
            button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
            .modal-header-wrapper
              h4 Смена пароля
          .modal-body
            .row
              .col-sm-6.col-md-5.col-md-offset-1.col-lg-4.col-lg-offset-2
                .form-group.position-relative
                  input#pswdInput-3.form-control(type='password' autocomplete="off" required)
                  label.floating-label(for="pswdInput-3") Email
              .col-sm-6.col-md-5.col-lg-4
                .form-group.position-relative
                  input#rePswdInput-2.form-control(type='password' autocomplete="off" required)
                  label.floating-label(for="rePswdInput-2") Новый пароль еще раз
          .modal-footer
            .row
              .col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4.col-lg-4.col-lg-offset-4 
                button#submit-4.btn.btn-primary(type='submit') Далее
        #edit-profile.edit-profile.modal-content.no-active
          .modal-header
            button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
            .modal-header-wrapper
              h4 Редактировать профайл
          .modal-body
            .row
              .col-sm-4.col-md-4.col-lg-4
                label(for="surnameInput-2") Фамилия
                input#surnameInput-2.form-control(type='text' placeholder='Значение')
              .col-sm-4.col-md-4.col-lg-4
                label(for="nameInput-2") Имя
                input#nameInput-2.form-control(type='text' placeholder='Значение')
              .col-sm-4.col-md-4.col-lg-4
                label(for="middleNameInput-2") Отчество
                input#middleNameInput-2.form-control(type='text' placeholder='Значение')
            .row
              .col-sm-6.col-md-6.col-lg-6
                label(for="phoneInput") Телефон            
                input#phoneInput.form-control(type='tel' placeholder='Значение')
              .col-sm-6.col-md-6.col-lg-6
                label(for="emailInput-4") Email            
                input#emailInput-4.form-control(type='email' placeholder='Значение')
            .row
              .col-sm-4.col-md-4.col-lg-4
                label(for="birthdayInput") Дата рождения
                input#birthdayInput.form-control(type='text' placeholder='Значение')
              .col-sm-4.col-md-4.col-lg-4
                label(for="cityInput") Город            
                input#cityInput.form-control(type='text' placeholder='Значение')
              .col-sm-4.col-md-4.col-lg-4
                label(for="idInput") ID Приложения
                input#idInput.form-control(type='text' placeholder='Значение')
            .row
              .col-sm-12.col-md12.col-lg-12
                label(for="tradePointInput") Торговая точка
                input#tradePointInput.form-control(type='text' placeholder='Значение')
            .row
              .col-sm-12.col-md12.col-lg-12
                .upload.form-control.d-flex.justify-content-between.align-items-center
                  label(for="fileUpload") Соглашение
                  input(type="file" name="upload" accept="image/*" id="fileUpload")
                  span.fileName Выберите файл...
                  input.btn.main-btn.green(type="button" value="Выбрать другой файл")

          .modal-footer
            .row
              .col-sm-4.col-sm-offset-4.col-md-4.col-md-offset-4.col-lg-4.col-lg-offset-4 
                button.btn.btn-primary(type='submit') Сохранить изменения

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="js/jquery-qrcode-master/jquery.qrcode.min.js")
    script(src="https://unpkg.com/ionicons@4.2.2/dist/ionicons.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
    script(src="./index.js")
    script(src="./js/map.js")